* text=auto eol=lf

*.ts text diff=typescript
*.tsx text diff=typescript
*.js text
*.jsx text
*.mjs text
*.cjs text
*.json text
*.json5 text
*.yaml text
*.yml text
*.md text
*.sql text
*.css text
*.scss text
*.less text
*.svg text
*.html text
*.txt text
*.sh text eol=lf
